.container{
    max-width: 992px;
}

.border_body{
    width: 100%;
}

.border{
    padding: 20px 0;
    background: rgba(245, 222, 179,0.2);
    border-radius: 10px;
}
.title{
    padding-bottom: 20px;
    font-size: 18px;
    color: #4B70E2;
}
.input_box{
    width: 300px;
    padding: 10px;
    background: white;
    font-size: 18px;
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn_style{
    font-size: 18px;
    padding: 10px 30px;
    background-color: #4B70E2;
    color: white;
    border-radius: 50px;
    border: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.kQua{
    width: 100%;
    height: 40px;
    color: red;
    padding: 10px;
    border-radius: 10px;
    background: #D1E7DD;
}
.card-header{
    padding: 0.25rem 1.25rem;
}